html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: #d6e4e5 !important;
  color: #30566d !important;
  overflow: hidden;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: #30566d !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 0 10px 20px #d6e4e5 !important;
}

.maxHeightContainer {
  height: 100% !important;
  flex-grow: 1 !important;
  overflow: hidden auto !important;
  flex-wrap: nowrap;
}
.fullHeightContainer {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap;
  height: 100% !important;
  overflow: hidden !important;
}

.apiLoading {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6e4e53d;
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}
.apiLoading svg {
  height: 5rem;
  width: 5rem;
  animation: rotate 2s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #d6e4e5;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #30566d;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #30566d;
}

.Toastify__toast-container {
  max-width: 576px !important;
  width: 100% !important;
  padding: 0 0.5rem !important;
}

.Toastify__toast {
  border-radius: 1rem !important;
  background-color: #30566d !important;
  color: #fff !important;
  margin: 0.5rem auto !important;
  max-width: 576px !important;
  min-width: 300px;
  width: fit-content !important;
}

.Toastify__toast svg {
  fill: #fff !important;
}

.toast-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
